header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
}

.logo {
  height: 50px;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menu p{
  color: white;
  margin: 0;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;

}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 4em;
	height: 2em;
	background: #F1BD1E;
	display: block;
	border-radius:1em;
	position: relative;
  margin-right: 1em;
}

label:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 2em;
	height: 1.5em;
	background: #fff;
	border-radius: 1em;

}

input:checked + label {
	background: grey;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}


.menu a, .dropbtn {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
  padding: 1em;
}

.menu a:hover{
  color: #f0f0f0;
}

.dropbtn:hover{
  color: black;
  background-color: #f0f0f0;;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 10px 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown-content li a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.dropdown-content li a:hover {
  background-color: black;
}

.dropdown:last-child .dropdown-content {
  left: auto;
  right: 0;
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-content {
      display: block;
  }
}
